
<!DOCTYPE html>
<html>
<head>
	<title>Game</title>
</head>
<body onclick="show_coordinate(event)">
<img src="hex_bg.gif" id="back">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
function show_coordinate(event)
{
	X = event.pageX;
	X=X-13;
    Y = event.pageY;
    Y=Y-12;
    console.log(Y+" "+X);
}

for(var j=0;j<11;j++)
{
	for(var i=1;i<=11;i++)
	{
		var id = String.fromCharCode(65+j) + i;

		var x = document.createElement("IMG");
    		x.setAttribute("src", "hex_t.gif");
    	x.setAttribute("title",id);
    	x.setAttribute("id",id);
		document.body.appendChild(x);
		document.getElementById(id).style.position = "absolute";
		var top1 = 18 + (i-1) * 24 + j * 24;
		top1 += "px";
		document.getElementById(id).style.top = top1;
		var left1 = 159 - (i-1) * 14 + j * 14;
		left1 += "px";
		document.getElementById(id).style.left = left1;
		document.getElementById(id).onclick=foo;
	}
}
</script>

<script>
function foo()
{
	var a=this.value;
	alert(a);

}
</script>

<script>
var turn=1;
var f=setInterval(load,350);
function load(){
	if(turn==1)
	{
		var p1f="{{p1f}}";
		var ext1="{{ext1}}";
	$.ajax({
			type:"GET",
			url:"/red_turn",
			data: {file_name: p1f,extension:ext1 },
			success: function(answer)
			{
				console.log("red"+answer.output);
				turn=0;
				//alert("turn"+turn);
				//if(answer.file_changed==1)
				//	{alert("Red Changed the file and thus lost. Blue is winner");clearTimeout(f);
				//*************DO SOMETHING MORE
				//	}
			if(answer.wrong_selected==1)
					{alert("Red Overwrote and thus lost. Blue is winner");clearTimeout(f);
				//*************DO SOMETHING MORE
					}
			if(answer.flag==0)
					{alert("Red Gave wrong input and thus lost. Blue is winner");clearTimeout(f);
				//*************DO SOMETHING MORE
					}
				if(answer.win==1)
					{clearTimeout(f);
						if(answer.wrong_selected!=1 && answer.flag==1)
						alert("Red -- {{p1}} WON!!");
					//*************************DO SOMETHING SOMETHINg :P

					}
				document.getElementById(answer.output).src = "hex_r.gif";
				//var k=answer.w;//*****************make it
				//$('#').html(answer.ans);
			},
			error: function(err)
			{
				console.log(err);
				
			}
		});
		
	}
	else if(turn==0)
	{
		
		var p2f="{{p2f}}";
		var ext2="{{ext2}}";
		
		$.ajax({
			type:"GET",
			url:"/blue_turn",
			data: {file_name: p2f,extension:ext2 },
			success: function(answer)
			{
				console.log("blue"+answer);
				turn=1;
				if(answer.win==1)
					{clearTimeout(f);
					//*************************DO SOMETHING SOMETHINg :P

					}
				if(answer.wrong_selected==1)
					{alert("Blue Overwrote and thus lost. Red is winner");clearTimeout(f);
				//*************DO SOMETHING MORE
					}
			if(answer.flag==0)
					{alert("Blue Gave wrong input and thus lost. Red is winner");clearTimeout(f);
				//*************DO SOMETHING MORE
					}
				if(answer.win==1)
					{clearTimeout(f);
						alert("Blue - {{p2}} Won!!");
					//*************************DO SOMETHING SOMETHINg :P

					}
					var k=answer.output;
					console.log(k);
					//k = k.substring(0, k.length - 1);
					document.getElementById(answer.output).src = "hex_b.gif";
				
			},
			error: function(err)
			{
				console.log(err);
				
			}
		});

	}
}
</script>

<h1>{{p1}} Vs {{p2}}</h1>
<font color="Red">Player 1 = {{p1}}</font><br>
<font color="blue">Player 2={{p2}}</font>
<div align="right">Made By Abhinav Rai<br>Special thanks to Ajeet Goyal for grid design help.</div>





</body>
</html>







